.main-content {
  display: block;
  width: 100vw;
  height: 85vh;
  /* overflow-y: auto; */
}

.chef-overview {
  height: 100%;
  margin: 40px;
  width: inherit;
  max-width: 1024px;
  margin-inline: auto;
  text-align: center;

  .container {
    background-color: rgba(203, 217, 222, 0.9);
    padding: 20px;
    /* min-width: 100%; */
    margin: auto;

    .profile-image {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 2000px;
      display: block;
      margin: 20px;
      border: none;

      @media screen and (max-width: 425px) {
        width: 120px;
        height: 120px;
        margin: 10px;
      }
    }

    .default-image {
      padding: 10px;
      border: 2px solid #003459;
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 840px) {
      flex-direction: column;
    }

    .user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px;

      @media screen and (max-width: 840px) {
        align-items: center;
      }

      h1 {
        background-color: rgb(242, 204, 22);
        padding: 0 2px;
      }

      button {
        background-color: #003459;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
      }
    }
  }

  .underline {
    text-decoration: underline;
    margin: 0;
    margin-top: 10px;

    @media screen and (max-width: 425px) {
      margin: 0;
    }
  }

  #all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

    @media only screen and (max-device-width: 550px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .meal-day {
    background: rgba(255, 193, 7, 0.8); /* Highlight color (e.g., amber) */
    color: black;
    border-radius: 5px;
  }

  .react-calendar {
    padding: 10px;
    background: rgba(245, 245, 245, 0.7);
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: rgba(29, 80, 162, 0.8); /* Highlight color (e.g., amber) */
    border-radius: 5px;
    color: white;
  }

  .react-calendar__tile--now {
    background: #cecece; /* Highlight color (e.g., amber) */
    color: black;
    border-radius: 5px;
    /* border: 1px solid rgb(29, 80, 162); */
  }

  h4 {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 20px 0;
  }

  .created-info {
    font-size: 0.9rem;
    margin: 0;
  }

  .rating {
    margin: 20px 0;
    padding: 10px;
    border: 1px dashed #003459;
    min-width: 250px;

    p {
      margin: 10px;
    }
  }

  .columns-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @media only screen and (max-device-width: 550px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  #calendar {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 10px;
  }

  .filter-info button {
    background-color: #003459;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
  }
}
