.footer {
  height: 5%;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.github-logo {
  width: 45px;
}

/* Mobile Screen */
@media screen and (max-device-width: 425px) {
  .github-logo {
    width: 35px;
  }
}

.footer-toast {
  position: absolute;
  right: 0;
  top: -20px;
}

.toast-text {
  font-size: medium;
}

.about-us-footer {
  position: absolute;
  right: 30px;

  font-size: 0.8em;
  color: rgb(29, 80, 162);
}

.about-us-footer:hover {
  color: rgba(29, 80, 162, 0.807);
  transform: scale(1.15);
}
