/*Address Search*/
.address-container {
  background-image: url("../assets/headerImage.jpg");
  background-size: contain;
  width: 100vw;
  height: 25vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/*Tablet Screen 820*/
@media only screen and (max-device-width: 820px) {
  .address-container {
    height: 20vh;
  }
}

.search-control-container {
  padding: 10px;
  width: 40%;
}

.search-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-image: url("../assets/pin.png");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: left 2px center;
  text-indent: 25px;
}

.address-drop-down {
  list-style-type: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  width: 39%;
  max-height: 200px;
  overflow-y: auto;
  color: white;
  background-color: #233440ba;
  position: absolute;
  z-index: 10000;

  li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }

  li:last-child {
    border-bottom: none;
  }
}

.address-drop-down::-webkit-scrollbar {
  width: 10px;
}
.address-drop-down::-webkit-scrollbar-thumb {
  background-color: #b1b8bc;
  border-radius: 10px;
}

/*Tablet Screen 820*/
@media only screen and (max-device-width: 820px) {
  .search-control-container {
    width: 90%;
  }
  .address-drop-down {
    width: 88%;
  }
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .address-drop-down {
    width: 85%;
  }
}

/*How it Works*/
.works-container {
  margin: 0 auto;
  height: 60vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #003459;
  background-image: url("../assets/work-background.png");
  color: #ffb45e;

  h2 {
    font-family: "Satisfy", serif;
    font-size: 3em;
    font-weight: 700;
  }
}

.slider {
  text-align: center;
}

.img-slide {
  width: 20vw;
  border-radius: 20px;

  border: 3px solid white;
}

.slide-desc {
  padding-top: 5px;
  font-family: "Poppins", serif;
  font-size: 1.3em;
  font-weight: bold;
}

/*Tablet Screen 820*/
@media only screen and (max-device-width: 820px) {
  .img-slide {
    width: 60vw;
  }
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .works-container {
    h2 {
      font-size: 2em;
    }
  }
  .slide-desc {
    font-size: 1em;
  }
}

.one-label {
  background-color: rgb(242, 204, 22);
  display: inline-block;
  padding: 5px 10px;
  margin-inline: 5px;
  border-radius: 20px;
}

.adr-go {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.go-button {
  color: white;
  background-color: #003459;
  border-radius: 50%;
  height: 35px;
  width: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .go-button {
    font-size: 0.8em;
  }
}

.disabled-go {
  color: white;
  background-color: #b1b8bc;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .nav-go {
    display: none;
  }
}
