.meal-list {
}

.function-bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-bar {
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 1px;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;

  font-size: 1em;
  text-indent: 20px;
}

.meal-list-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  margin-top: 20px;
}

.meal-list-card {
  background-color: rgba(203, 217, 222, 0.854);
  width: 600px;
  padding: 5px;
  border-radius: 5px;

  display: flex;
  gap: 5px;
  align-items: center;

  p,
  h3 {
    margin: 0;
  }
}

.carousel-img {
  width: 100px;
  height: 100px;
}

.meal-list-details {
  flex-basis: 50%;
}

.meal-list-desc {
  text-align: justify;
  flex-basis: 40%;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .meal-list-card {
    width: 350px;
  }

  .meal-list-details {
    flex-basis: 70%;
  }

  .meal-list-desc {
    display: none;
  }
}

.meal-list-buttons {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.meal-list-button {
  border: none;
  background-color: transparent;
}

.meal-list-button:hover {
  transform: scale(1.5);
}

.meal-list-button-img {
  width: 20px;
}
