.meal-list {
  padding: 10px;
  overflow-x: hidden;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .meal-list {
    padding: 5px;
  }
}

.meal-list-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  width: 100vw;

  overflow-y: auto;
  overflow-x: hidden;
  max-height: 75vh;
}

.meal-list-card {
  width: 600px;
  padding: 5px;
  border-radius: 5px;

  display: flex;
  gap: 5px;
  align-items: center;

  p,
  h3 {
    margin: 0;
  }
}

.meal-list-card-active {
  background-color: rgba(146, 158, 81);
}

.meal-list-card-inactive {
  background-color: rgba(195, 62, 71);
}

.carousel-cont {
  width: 100px;
}

.carousel-img {
  width: 100px;
  height: 100px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .carousel-cont {
    display: none;
  }
  .carousel-img {
    width: 50px;
    height: 50px;
  }
}

.meal-list-details {
  flex-basis: 50%;

  h4 {
    margin: 0;
  }
}

.meal-list-desc {
  text-align: justify;
  flex-basis: 40%;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .meal-list-cuisine {
    display: none;
  }

  .meal-list-details,
  .meal-list-desc {
    font-size: 0.8em;
  }
}

.is-today-highlight {
  font-weight: bold;
  background-color: yellow;
}

.meal-chef-details {
  display: flex;
  align-items: center;
  gap: 2px;
}

.chef-adr {
  border-radius: 5px;
  border: 1px solid white;
  height: 30px;
  width: 200px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .chef-adr {
    display: none;
  }
}

.rate-action {
  display: flex;
  align-items: center;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .meal-list-card {
    width: 350px;
  }

  .meal-list-details {
    flex-basis: 70%;
  }
}

.tooltip-rating {
  white-space: nowrap;
  display: inline-block;
  transform: translateY(0);
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5px);
  }
}

.meal-list-buttons {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.message-button {
  margin-left: 10px;
  background-image: url(../assets/messages.png);
  background-size: 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.pickup-button {
  background-image: url(../assets/pick.png);
  background-size: 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
  animation: bounce 1.5s infinite ease-in-out;
}

.adr-nav-button {
  background-image: url(../assets/google-open.png);
  background-size: 25px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.meal-list-button {
  border: none;
  background-color: transparent;
}

.meal-list-button:hover {
  transform: scale(1.25);
}

.meal-list-button-img {
  width: 20px;
}

.comment-box {
  width: 100%;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
}
