.navbar {
  height: 10%;
  width: 100vw;
  padding: 10px;

  display: flex;
  justify-content: space-between;
}

.navbar-adr {
  width: 50%;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .navbar {
    padding: 5px;
  }

  .navbar-adr {
    width: 45%;
    margin: 0;
  }

  #list-meal-button {
    display: none; /*Button too big for mobile display*/
  }
}

.logo-icon {
  width: 80px;
  animation: rotateY360 3s ease-in-out; /* Apply animation on load */
}

@keyframes rotateY360 {
  from {
    transform: rotateY(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotateY(360deg); /* End at 360 degrees */
  }
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.row {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.col25 {
  width: 25%;
}
.col75 {
  width: 70%;
}

.signup-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.profile-button {
  background-color: transparent;
  border: none;
  position: relative;
}

.profile-img {
  padding: 1px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #003459;
}

.profile-drop-down {
  border-radius: 8px;
  margin-top: 5px;
  width: 130px;
  max-height: 200px;
  overflow-y: auto;
  color: white;
  background-color: #233440be;
  position: absolute;
  left: -30px;
  top: 33px;
  z-index: 1000;

  p {
    margin: 0;
    border-bottom: 1px solid #eee;
    font-size: 0.8em;
  }

  ul {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    overflow: hidden;
  }

  li {
    cursor: pointer;
    border-top: 1px dashed #eee;
    padding-bottom: 5px;
  }

  li:first-child {
    border: none;
  }

  li:hover {
    transform: scale(1.1);
    color: #ffb45e;
  }

  a {
    color: white;
  }
}

.cart-button {
  border: none;
  background-color: transparent;
  background-image: url(../assets/cart.png);
  background-size: 50px;
  background-repeat: no-repeat;
  width: 50px;

  position: relative;
}

.cart-counter {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  padding-right: 6px;

  font-size: 1em;
  font-weight: bolder;
}

.align-counter {
  padding-right: 3px;
}
