/*User Profile Section*/
.profile-page {
  color: white;
  width: 100%;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.pp-user-info {
  padding: 10px;
  display: flex;
  gap: 30px;

  background-color: rgba(203, 217, 222, 0.9);
  color: black;

  border: 2px dashed white;
  border-radius: 10px;
  position: relative;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .pp-user-info {
    flex-direction: column;
  }
}

.prof-open {
  position: absolute;
  top: 0;
  right: 0;
}

.prof-collapse {
  transform: rotate(90deg);
  margin: 2px;
  border-radius: 5px;
}

.expand-prof-container {
  border: 1px dashed white;
  border-radius: 5px;

  display: flex;
  width: 90px;
  padding: 5px;

  img {
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
  }
}

.pp-img {
  padding: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
}

.col-field-prof-img {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .col-field-prof-img {
    width: 100%;
  }
}

.col-field-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 10px 0;
}

.profile-input {
  border-radius: 5px;
  border: 2px solid white;
  height: 40px;
  width: 280px;
}

.profile-input:focus,
.profile-input-desc:focus,
.profile-adr-input:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Border color on focus */
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Optional: Add glow effect */
}

.profile-input-img {
  color: transparent;
  border: none;
  width: 110px;
}

#mobileProfHeader,
#otherProfHeader,
#collapsedProf {
  font-family: "Satisfy", serif;
}

#mobileProfHeader {
  display: none;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  #mobileProfHeader {
    display: block;
  }
  #otherProfHeader {
    display: none;
  }
}

.profile-input-desc {
  border-radius: 5px;
  border: 2px solid white;
  height: 50px;
}

#cuisine-dropdown {
  background-color: white;
  color: black;
  text-align: left;
}

.profile-adr-input {
  border-radius: 5px;
  height: 40px;
}

.upd-profile-button {
  margin-top: 15px;
  margin-bottom: 25px;
}

.profile-input-spec {
  background-color: rgba(60, 89, 144, 0.477);
}

/*Dashboard Section*/
.dashboard {
  width: 50vw;
  margin-bottom: 15px;
}

/*Mobile Screen*/
@media screen and (max-device-width: 840px) {
  .dashboard {
    width: 95vw;
  }
}

.tab-container {
  background-color: darkgrey;
  border-radius: 5px 5px 0 0;
}

.dashboard-tab {
  border: 0.25px solid white;
  border-top: none;

  background-color: rgba(203, 217, 222, 0.9);
  color: black;
}

.stats {
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  font-weight: bolder;
  font-size: 1.5em;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .stats {
    font-size: 0.75em;
    padding: 10px 5px;
  }
}

.dashboard-tab-cont {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.display-block-dd {
  width: 95%;
  height: 40px;
  margin: 10px 0;
  padding: 5px;

  background-color: rgb(158, 175, 182);
  color: black;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
}

.notification-active em {
  color: green;
  font-style: normal;
  font-weight: bold;
}
.notification-inactive em {
  color: red;
  font-style: normal;
  font-weight: bold;
}

/*Mobile Screen*/
@media screen and (max-device-width: 425px) {
  .notification-active,
  .notification-inactive {
    font-size: 0.8em;
  }
}
