.main-content {
  overflow-y: auto;
  height: 85vh;

  background-color: #003459;
  background-image: url("../assets/work-background.png");
}

.page-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.shopping-cart-container {
  height: 100%;
  width: inherit;
  max-width: 1024px;
  margin-inline: auto;
  background-color: rgba(203, 217, 222, 0.9);
  margin: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
    margin: 20px 0;
  }

  .checkout-button {
    background-color: #003459;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
  }

  ul {
    border: 1px solid #9a9a9a;
    background-color: rgba(203, 217, 222, 1);
    margin: 20px;
    padding: 0;
  }

  .empty-cart {
    margin: 20px auto;
    padding: 20px;
    font-size: 1.1rem;
  }

  .shopping-cart {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 840px) {
      flex-direction: column;
      max-width: 100%;
    }

    @media screen and (max-width: 500px) {
      font-size: 0.9rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 0.8rem;
    }
  }

  .shopping-cart-total {
    margin: 20px;
    padding: 20px;
    border: 1px solid #9a9a9a;
    background-color: rgba(203, 217, 222, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    min-width: 200px;
    margin-left: 0;

    @media screen and (max-width: 840px) {
      margin-left: 20px;
    }

    .total {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      font-size: 1.3rem;

      @media screen and (max-width: 500px) {
        font-size: 1.1rem;
      }

      @media screen and (max-width: 425px) {
        font-size: 1rem;
      }
    }

    .price-bold {
      text-align: right;
    }
  }
}

.shopping-cart-order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #003459; */
  width: 500px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #9a9a9a;

  @media screen and (max-width: 840px) {
    max-width: 100%;
  }

  &:last-child {
    border-bottom: none;
  }

  li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 100%;

    p {
      margin: 5px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }

  h2 {
    font-size: 1.3rem;
    margin: 0;

    @media screen and (max-width: 500px) {
      font-size: 1.1rem;
    }

    @media screen and (max-width: 425px) {
      font-size: 1rem;
    }
  }

  a {
    height: 0;
    padding: 0;
    margin: 0;
  }

  .order-info {
    width: 100%;
    display: flex;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 500px) {
      flex-direction: row;
      margin-top: 10px;
      align-items: center;
    }
  }

  .remove-button {
    background: #003459;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;

    @media screen and (max-width: 500px) {
      margin-top: 0;
      margin-left: 20px;
    }

    img {
      padding: 5px;
      margin: 0;
      height: 100%;
      width: auto;
      /* object-fit: cover; */
    }
  }

  .meal-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
      > * {
        margin-bottom: 5px;
      }
    }
  }
}

.price-bold {
  font-weight: 600;
  font-size: 1.2rem;

  @media screen and (max-width: 500px) {
    font-size: 1.1rem;
  }

  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}
