@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  margin: 0;
  overflow-y: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
  /* font-family: "Karla", serif; */
  /* font-family: "Raleway", serif; */
}

.main-content {
  height: 85%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.errors {
  color: red;
}

.button-shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
